.quote-box {
  border: none;
  margin: auto;
  padding: 2rem;
  width: 500px;
  background-color: #ffff;
  margin-top: 20px;
  /* transition-timing-function: ease;
  transition-delay: 0.2s; */
  transition: all 0.9s ease;
}

.quote-box .text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.quote-box .quote-left {
  margin-right: 0.5rem;
  margin-left: 0;
}

.quote-box .authors {
  align-items: flex-end;
  float: right;
  clear: both;
  margin-top: 1rem;
}

.buttons {
  display: block;
  margin-top: 4rem;
  height: 40px;
}

.buttons .a-twitter,
.buttons .a-tumblr {
  color: white;
  font-size: 1rem;
  border: 1px solid black;
  float: left;
  border: none;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.a-twitter .twitter,
.a-tumblr .tumblr {
  font-size: 20px;
  margin-top: 10px;
}

.new-quote-btn {
  top: 0;
  left: 110px;
  color: #ffff;
  padding: 0.5rem;
  font-size: 1rem;
  float: right;
  border: none;
}

footer {
  margin-top: 0.7rem;
  color: #ffff;
  font-weight: bold;
}
